@import url('https://fonts.googleapis.com/css?family=Germania+One');
*{
    color: red;
} 
.parableu 
{
    color:blue;
}
#parared
{    font-family: 'Germania One', cursive;
    color:red;

}
.parableu
{
color: blue;
}
p.vert
{
    color:green;
}
.vt {
    color:green;
}
.bord{
    border: 1px solid green;

}
a {
    color:red;
    text-decoration: none;
}
a:hover
{
    color:green;
    text-decoration:underline;
}
a:visited
{
    color: gray;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 12px;
}
p{
    font-style: italic
}
p{
    font-weight:bold;
}
p.bleu {
    text-align: center;
}
p.parableu
{
    text-align: right;
}
p#parared
{
    background-color: rgba(255,0,0,0.5);
}
html
{
    background-image: url("../ENOVO.jpeg");
}
.bord
{
    border-radius: 15px;
}
.bord
{
    margin: 15px;
}
li 
{
    display: inline;
}
div{
    background-color: black;
    margin: 15px;
}