*{
    color: red;
} 
.parableu 
{
    color:blue;
}
#parared
{
    color:red;

}
.parableu
{
color: blue;
}
p.vert
{
    color:green;
}
.vt {
    color:green;
}
.bord{
    border: 1px solid green;

}
a {
    color:red;
    text-decoration: none;
}
a:hover
{
    color:green;
    text-decoration:underline;
}
a:visited
{
    color: gray;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 12px;
}
p{
    font-style: italic
}
p{
    font-weight:bold;
}
p.bleu {
    text-align: center;
}
p.parableu
{
    text-align: right;
}